*{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}
body{
    overflow-x: hidden;
    height: auto;
    animation: load 0.3s ease-out;
    animation-fill-mode : forwards;
}
body.dark{
    background-color: #181818;
}
img {
    display: block;
}
a{
    text-decoration: none;
}
h1.dark{
    color: rgb(228, 228, 228);
}
h2.dark{
    color: rgb(228, 228, 228);
}
a{
    color: rgb(228, 228, 228);
}
hr{
    border-color: rgb(126, 126, 126);
    width: 500px;
    margin-left: 0;
}
p.dark{
    color: rgb(228, 228, 228);
}
.main_inner {
    width: 1120px;
    margin:  0 auto;
    position: relative;
}
.nfixed_back{
    border-top: 1px solid rgba(128, 128, 128, 0.513);
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 597px;
    z-index: 4;
}
.nfixed_back.dark{
    background-color: #202020;
}
.cat_name {
    position: fixed;
    color: rgb(51, 51, 51);
    font-size: 50px;
    font-weight: 600;
    top: 250px;
    font-family: 'Noto Sans KR', sans-serif;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
.cat_desc {
    position: fixed;
    color: rgb(63, 63, 63);
    font-size: 18px;
    font-weight: 300;
    top: 320px;
    font-family: 'Noto Sans KR', sans-serif;
    z-index: 3;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.657);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(128, 128, 128, 0.513);
    z-index: 10;
    display: flex;
}
.header.dark {
    border: 1px solid #353535;
    background-color: rgba(39, 39, 39, 0.657);
}
.header_logo{
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    position: relative;
}
.header_logo.dark{
    filter: invert(110%); 
}
.back_btn img{
    position: absolute;
    transform: scaleX(-1);
    top: 14px;
}
.back_btn img.dark{
    filter: invert(110%); 
}
.back_btn a{
    font-size: 23px;
    font-weight: 600;
    position: absolute;
    top: 14px;
    left: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    color: #181818;
}
.back_btn a.dark{
    color: white;
}
.back_btn a:hover{
    letter-spacing : 5px;
    font-weight: 700;
    left: 20px;
    color:#0080FF;
}
.cat_btn_box{
    width: 400px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    color: #181818;
}
.cat_btn_box a.dark{
    color: white;
}
.cat_btn_box a{
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    color: #181818;
}
.cat_btn_box a:nth-child(2){
    margin-left: 14px;
    margin-right: 14px;
}
.cat_btn_box a:hover{
    color:#0080FF;
    letter-spacing : 5px;
    font-weight: 700;
}
.main_inner{
    width: 1121px;
}
.main_inner.dark{
    width: 1121px;
    color: rgb(228, 228, 228);
}
.main_inner h1{
    color: rgb(34, 34, 34);
    font-size: 35px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 20px;
}
.main_inner h2{
    color: rgb(34, 34, 34);
    font-size: 19px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 5px;
    color: #333;
}
.main_inner p{
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 28px;
    margin-top: 15px;
}
.main_inner ul {
    list-style: square inside;
    list-style-image: url(../b_log_img/list_b.png);
    margin: 10px 10px;
}
.main_inner li {
    margin-top: 6px;
    margin-left: 20px;
    line-height: 17px;
}
.big{
    width: 100%;
    height: 630px;
    margin: 20px 20px;
    border-radius: 20px;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.big:hover{
    filter: drop-shadow(12px 12px 40px rgba(114, 114, 114, 0.438));
    border-radius: 5px;
}
.side_l{
    width: 560px;
    height: 315px;
    margin: 20px 20px;
    border-radius: 20px;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.side_l:hover{
    transform: scale(1.1);
    filter: drop-shadow(12px 12px 40px rgba(114, 114, 114, 0.438));
    border-radius: 5px;
}
.side_r{
    width: 560px;
    height: 315px;
    position: relative;
    margin: 20px 20px;
    left: 561px;
    border-radius: 20px;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.side_r:hover{
    transform: scale(1.1);
    filter: drop-shadow(12px 12px 40px rgba(114, 114, 114, 0.438));
    border-radius: 5px;
}
.side_b{
    width: 360px;
    height: 360px;
    margin: 20px 20px;
    border-radius: 20px;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.side_b:hover{
    transform: scale(1.1);
    filter: drop-shadow(12px 12px 40px rgba(114, 114, 114, 0.438));
    border-radius: 5px;
}
.mini{
    width: 270px;
    height: 151.8px;
    margin: 20px 20px;
    border-radius: 20px;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.mini:hover{
    transform: scale(1.1);
    filter: drop-shadow(12px 12px 40px rgba(114, 114, 114, 0.438));
    border-radius: 5px;
}
.line{
    width: 30px;
    border-top: 1.5px solid rgba(100, 100, 100, 0.74);
    margin-top: 15px;
}
#margin_200px{
    margin-top: 200px;
}
#margin_100px{
    margin-top: 100px;
}
#margin_50px{
    margin-top: 50px;
}
#margin_20px{
    margin-top: 20px;
}
.high{
    box-shadow: inset 0 -7px 0 #0080ff83;
    line-height: 21px;
}
.bold{
    font-weight: 500;
}
.high.dark{
    color: rgb(228, 228, 228);
}
.bold.dark{
    color: rgb(228, 228, 228);
}
.main_inner h1.dark{
    color: rgb(228, 228, 228);
}
.main_inner h2.dark{
    color: rgb(228, 228, 228);
}
.main_inner p.dark{
    color: rgb(228, 228, 228);
}
.main_inner ul.dark {
    color: rgb(228, 228, 228);
}
.main_inner li.dark {
    color: rgb(228, 228, 228);
}
.colorscripter-code{
    margin-left: 20px;
}
#blue{
    color: #0080FF;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}
#left_100{
    margin-left: 100px;
}
.gongback{
    width: 10px;
    height: 300px;
}
@keyframes load{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.mini_row{
    width: 197.8px;
    height: 50px;
    margin: 20px 20px;
    display: flex;
    gap: 20px;
}
.mini_rb{
    width: 88.9px;
    height: 50px;
    border-radius: 20px;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.mini_rb:hover{
    filter: drop-shadow(12px 12px 40px rgba(114, 114, 114, 0.438));
    transform: scale(1.1);
}
