*{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
    height: 2037px;
}
img {
    display: block;
}
a{
    text-decoration: none;
}
.main_inner {
    width: 1120px;
    margin:  0 auto;
    position: relative;
}

.main_back_blur{
    position: relative;
    width: auto;
    height: 603px;
    backdrop-filter: blur(10px) brightness(50%);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.main_back{
    width: max-content;
    height: 603px;
    background-image: url("../mainPage_img/CODING.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nfixed_back{
    width: auto;
    height: 1440px;
    background-color: white;
    position: relative;
    top: 597px;
    z-index: 3;
}
.cod_typo{
    font-size: 500px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    top: 70px;
    position: absolute;
    left: 50%;
    color: rgba(0, 255, 255, 0);
    transform: translateX(-50%);
    opacity: .2;
    -webkit-text-stroke: 3px #818181;
}
.inner_bug p {
    position: absolute;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: 600;
    top: 280px;
    font-family: 'Noto Sans KR', sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.513);
    z-index: 10;
}
.header_logo{
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    position: relative;
}