*{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 3000px;
    overflow-x: hidden;
}
img {
    display: block;
}
a{
    text-decoration: none;
}
.main_inner {
    width: 1120px;
    margin:  0 auto;
    position: relative;
    height: 100px;
}
.header{
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    width: 100%;
    height: 60px;
    border: 0.8px solid #c6c6c693;
    backdrop-filter: blur(20px);
    transition: .4s;
    z-index: 8;
}
.header.active{
    height: 563px;
}
.logo{
    width: 56px;
    height: 56px;
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.logo:hover{
    width: 50px;
    height: 50px;
    top: 6px;
}
.scerch_btn{
    position: absolute;
    z-index: 10;
    width: 28px;
    height: 28px;
    top: 17px;
    right: 0;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    opacity: 1;
    z-index: 10;
}
.scerch_btn.active{
    transform: rotate(90deg);
}
.scerch_btn.up{
    transform: translateY(-50px) rotate(1deg);
}
.headerBtn_box{
    width: 1120px;
    margin:  0 auto;
    position: fixed;
    height: 100px;
    z-index: 10;
}
.hamburger_btn{
    position: absolute;
    width: 28px;
    height: 28px; 
    top: 17px;
    left: 0;
}
.btn_body{
    position: relative;
    width: 28px;
    height: 28px; 
    z-index: 11;
}
.up_bar{
    width: 30px;
    height: 0.1px;
    border-top: solid 4px #434343;
    position: absolute;
    top: 7px;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    z-index: 10;
}
.up_bar.active{
    transform: rotate(45deg);
    top: 12px;
}
.down_bar{
    width: 30px;
    height: 0.1px;
    border-top: solid 4px #0080FF;
    position: absolute;
    top: 17px;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    z-index: 10;
}
.down_bar.active{
    transform: rotate(-45deg);
    top: 12px;
}
.header_hidden{
    position: fixed;
    width: 1920px;
    height: 563px;
    z-index: 8;
    left: 50%;
    transform:translateX(-50%) translateY(-220px) rotateX(90deg);
    opacity: 0;
    transition: .4s;
}
.header_hidden.active{
    left: 50%;
    transform: translateX(-50%) translateY(0px) rotateX(0deg);
    opacity: 1;
}
.link_box{
    position: absolute;
    width: 234px;
    left: 396px;
    top: 169px;
    height: 293px;
    z-index: 14;
}
.link_box_main{
    position: absolute;
    width: 234px;
    left: 396px;
    top: 169px;
    height: 293px;
    z-index: 9;
}
.blogLog_box{
    position: absolute;
    right: 399px;
    top: 169px;
    width: 354px;
    height: 293px;
    z-index: 14;
}
.header_hidden .harmony {
    position: absolute;
    width: 995px;
    height: 830px;
    top: -133px;
}
.link_box_cat{
    width: 244px;
    height: 90px;
}
.cat_dot{
    width: 32px;
    height: 32px;
}
.link_box_cat p {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 5px;
}
.link_box_cat a {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    color: #38A9FF;
    top: 15px;
}
.content_box_blur{
    width: 354px;
    height: 254px;
    border-radius: 40px;
    backdrop-filter: blur(20px) brightness(40%);
    position: absolute;
    z-index: 10;
}

.content_box{
    width: 354px;
    height: 254px;
    border-radius: 40px;
    position: absolute;
    z-index: 9;
    top: 0;
    background-image: url(./mainPage_img/fddsfsd.JPG);
    background-size: cover;
    box-shadow: 10px 20px 46px rgba(0, 0, 0, 0.335);
}
.content_box_text{
    z-index: 11;
    position: absolute;
}
.content_box_text p{
    font-size: 50px;
    font-weight: 500;
    color: #FFF;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 77px;
    margin-left: 45px;
}
.content_box_text .cat_dot_box{
    position: absolute;
    top: 150px;
    left: 230px;
}
.click_look{
    font-size: 16px;
    font-weight: 300;
    opacity: 60%;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 270px;
}
.hello_scene{
    left: 50%;
    transform: translateX(-50%);
    width: 10000px;
    height: 563px;
    background-color: white;
    border: 1px solid #7070701c;
    border-style: none none solid none;
    z-index: -1;
    background-image: url(./mainPage_img/flook_earth.png);
    background-repeat: no-repeat;
    background-position-x: 4049px;
    background-position-y: 10px;
    position: absolute;
    transition: .4s;
}
.hello_scene.active{
    left: 50%;
    transform: translateX(-50%) translateY(-200px);
    opacity: 0;
}
.hello_content_box{
    width: 480px;
    height: 300px;
    margin: 0 auto;
    margin-top: 209px;
    position: relative;
}
.hello_content_box h1{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: 500;
    margin: 0 auto;
}
.line{
    width: 55px;
    border: 1px solid #434343;
    margin: 0 auto;
    margin-bottom: 18px;
    margin-top: 5px;
}
.hello_content_box p {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: #434343;
    line-height: 1.5;
}
.hello_content_box img {
    margin: 0 auto;
    margin-top: 120px;
}
.recent_scene{
    background-image: url("./mainPage_img/recent_bg.png");
    background-size: contain;
    width: 8000px;
    height: 339px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 564px;
    position: absolute;
    opacity: 0.32;
    border: 1px solid #707070af;
    border-style: solid none solid none;
}
.recent_box{
    left: 50%;
    transform: translateX(-50%);
    width: 1121px;
    height: 254px;
    position: absolute;
    top: 607px;
}
.recent_text{
    width: 287px;
    height: 114px;
    margin-top: 73px;
}
.blogLog_box_recent{
    position: absolute;
    left: 767px;
    top: 0px;
    width: 354px;
    height: 293px;
    z-index: 14;
}
.recent_text h1{
    font-size: 48px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}
.recent_text h2{
    font-size: 19px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 7px;
    margin-left: 40px;
}
.recent_text h3{
    font-size: 16px;
    font-weight: 200;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(71, 71, 71);
    margin-top: 10px;
}
.main_cont_back{
    width: auto;
    height: 1700px;
    background-color: #FEFEFE;
    /*background-color: #FEFEFE;*/
    position: relative;
    top: 805px;
}
.more_box{
    width: 189px;
    height: 93px;
    position: relative;
    top: 66px;
}
.more_box a{
    font-size: 35px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    color: #434343;
}
.more_box p{
    font-size: 19px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    color: #434343;
}
.arrow_right{
    position: absolute;
    bottom: 28px;
    left: 174px;
}
.main_line{
    width: auto;
    height: 143px;
    background-color: #F8F8F8;
    position: relative;
    top: 160px;
}
.main_box_flexbox{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 36px;    
}
.main_box {
    position: relative;
    width: 354px;
    height: 293px;
    z-index: 5;
    top: -55px;
}